/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/*Header Start*/

.top-nav {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -9px 0px 10px ;
    padding: 20px;
    padding-top: 27px;
    padding-bottom: 29px;
    padding-left: 0px;
}


.top-nav h1 {
    margin: 0 39px 10px 0;
    padding-bottom: 0px;
}

.top-nav a {
    text-decoration: none;
    padding: 20px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    

}

.top-nav nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    margin-top: 20px;
}




#logo {
    padding-top: 30px;
    padding-bottom: 0px;
}

.header-image {
    margin-bottom: 24px;
    margin-left: 10px;
    margin-right: 10px;
}
/*Header End*/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}
/* Middle box section Start */
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: teal;
}

.box2 {
    background-color: gold;
}

.box3 {
    background-color: cadetblue;
}

.box4 {
    background-color: coral;
}

.box5 {
    background-color: crimson;
}

.box6 {
    background-color: forestgreen;
}

.box7 {
    background-color: darkorchid;
}

.box8 {
    background-color: hotpink;
}

.box9 {
    background-color: indigo;
}

.box10 {
    background-color: dodgerblue;
}

/* middle box section End */

/* about top section start */
.about-textbox {
    padding: 20px;
    border-bottom: dotted grey;
    margin-bottom: 15px;
}
/* about top section end */

/* About middle section start */

.grid {
    width: 400px;
    border-bottom: dotted grey;
    margin: 6px 6px 
}

.last-two-boxes {
    display: flex;
    margin-bottom: 40px;
}
.last-two-boxes button {
    padding: 8px 9px;
    border: black 2.3px solid;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    margin-bottom:13px ;
}

/* about middle section end */

/* bottom content */
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
    margin-top: 24px;
}

footer nav a {
    color: white;
    text-decoration: none;
}